{"openapi":"3.0.0","info":{"title":"ASP-ws Doc","description":"Documentazione delle API del progetto ASP-WS v.1\n\n Numero assistiti: <b>{{TOTAL_ASSISTITI}}</b>\n\nUltimo record aggiornato il: <b>{{LAST_UPDATE}}</b>\n\n Percentuale di geolocalizzazione: <b>{{GEO_PERC}}</b>\n","termsOfService":"http://example.com/terms","contact":{"name":"Roberto De Domenico","url":"http://github.com/deduzzo","email":"deduzzo@gmail.com"},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0.html"},"version":"1.0.0"},"servers":[{"url":"https://ws1.asp.messina.it"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"anagrafica_assistiti":{"type":"object","allOf":[{"$ref":"#/components/schemas/anagrafica_assistiti-without-required-constraint"},{"required":["cf"]}]},"anagrafica_assistiti-without-required-constraint":{"type":"object","description":"Sails ORM Model **Anagrafica_Assistiti**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"cf":{"type":"string","description":"Codice fiscale","uniqueItems":true},"cfNormalizzato":{"type":"string","nullable":true},"cognome":{"type":"string","nullable":true},"nome":{"type":"string","nullable":true},"sesso":{"type":"string","nullable":true,"description":"Es. M / F (oppure altri valori, a seconda di come li gestisci)"},"dataNascita":{"type":"number","format":"double","nullable":true,"description":"Timestamp Unix della data di nascita"},"comuneNascita":{"type":"string","nullable":true},"codComuneNascita":{"type":"string","nullable":true},"codIstatComuneNascita":{"type":"string","nullable":true},"provinciaNascita":{"type":"string","nullable":true},"indirizzoResidenza":{"type":"string","nullable":true},"capResidenza":{"type":"string","nullable":true},"comuneResidenza":{"type":"string","nullable":true},"codComuneResidenza":{"type":"string","nullable":true},"codIstatComuneResidenza":{"type":"string","nullable":true},"asp":{"type":"string","nullable":true},"ssnTipoAssistito":{"type":"string","nullable":true},"ssnInizioAssistenza":{"type":"number","format":"double","nullable":true,"description":"Timestamp Unix della data di inizio assistenza"},"ssnFineAssistenza":{"type":"number","format":"double","nullable":true,"description":"Timestamp Unix della data di fine assistenza"},"ssnMotivazioneFineAssistenza":{"type":"string","nullable":true},"ssnNumeroTessera":{"type":"string","nullable":true},"MMGUltimaOperazione":{"type":"string","nullable":true},"MMGUltimoStato":{"type":"string","nullable":true},"MMGTipo":{"type":"string","nullable":true},"MMGCodReg":{"type":"string","nullable":true},"MMGNome":{"type":"string","nullable":true},"MMGCognome":{"type":"string","nullable":true},"MMGCf":{"type":"string","nullable":true},"MMGDataScelta":{"type":"number","format":"double","nullable":true,"description":"Timestamp Unix della data di scelta del MMG"},"MMGDataRevoca":{"type":"number","format":"double","nullable":true,"description":"Timestamp Unix della data di revoca del MMG"},"dataDecesso":{"type":"number","format":"double","nullable":true,"description":"Timestamp Unix della data del decesso"},"lat":{"type":"number","format":"double","nullable":true,"description":"Latitudine della posizione geografica"},"long":{"type":"number","format":"double","nullable":true,"description":"Longitudine della posizione geografica"},"geolocPrecise":{"type":"boolean","nullable":true,"description":"Tipo di geolocalizzazione"},"md5":{"type":"string","nullable":false,"description":"MD5 dei valori per verifica eventuali aggiornamenti"},"lastCheck":{"type":"number","format":"double","nullable":true,"description":"Timestamp Unix dell'ultimo controllo"}}},"auth_ambiti":{"type":"object","allOf":[{"$ref":"#/components/schemas/auth_ambiti-without-required-constraint"}]},"auth_ambiti-without-required-constraint":{"type":"object","description":"Sails ORM Model **Auth_Ambiti**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"ambito":{"type":"string","nullable":true},"is_dominio":{"type":"boolean","default":false}}},"auth_livelli":{"type":"object","allOf":[{"$ref":"#/components/schemas/auth_livelli-without-required-constraint"},{"required":["livello"]}]},"auth_livelli-without-required-constraint":{"type":"object","description":"Sails ORM Model **Auth_Livelli**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"livello":{"type":"string"},"descrizione":{"type":"string","nullable":true},"isSuperAdmin":{"type":"boolean","default":false}}},"auth_scopi":{"type":"object","allOf":[{"$ref":"#/components/schemas/auth_scopi-without-required-constraint"}]},"auth_scopi-without-required-constraint":{"type":"object","description":"Sails ORM Model **Auth_Scopi**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"scopo":{"type":"string"},"attivo":{"type":"boolean","default":false},"utenti":{"description":"Array of **auth_utenti**'s or array of FK's when creating / updating / not populated","type":"array","items":{"$ref":"#/components/schemas/auth_utenti"}}}},"auth_utenti":{"type":"object","allOf":[{"$ref":"#/components/schemas/auth_utenti-without-required-constraint"}]},"auth_utenti-without-required-constraint":{"type":"object","description":"Sails ORM Model **Auth_Utenti**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"username":{"type":"string","nullable":false},"allow_domain_login":{"type":"boolean","default":false},"domain":{"type":"string","nullable":true},"mail":{"type":"string","nullable":true},"ambito":{"description":"JSON dictionary representing the **auth_ambiti** instance or FK when creating / updating / not populated","oneOf":[{"$ref":"#/components/schemas/auth_ambiti"}],"nullable":false},"hash_password":{"type":"string","nullable":true},"livello":{"description":"JSON dictionary representing the **auth_livelli** instance or FK when creating / updating / not populated","oneOf":[{"$ref":"#/components/schemas/auth_livelli"}],"nullable":false},"attivo":{"type":"boolean","default":false},"data_disattivazione":{"type":"number","format":"double","nullable":true},"refresh_token":{"type":"string","nullable":true},"token_revocato":{"type":"boolean","nullable":true,"default":false},"otp_enabled":{"type":"boolean","default":false},"otp_key":{"type":"string","nullable":true},"otp":{"type":"string","nullable":true},"otp_exp":{"type":"number","format":"double","nullable":true},"otp_type":{"type":"string","nullable":true},"scopi":{"description":"Array of **auth_scopi**'s or array of FK's when creating / updating / not populated","type":"array","items":{"$ref":"#/components/schemas/auth_scopi"}}}},"auth_utentiscopi":{"type":"object","allOf":[{"$ref":"#/components/schemas/auth_utentiscopi-without-required-constraint"},{"required":["utente","scopo"]}]},"auth_utentiscopi-without-required-constraint":{"type":"object","description":"Sails ORM Model **Auth_UtentiScopi**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"utente":{"description":"JSON dictionary representing the **auth_utenti** instance or FK when creating / updating / not populated","oneOf":[{"$ref":"#/components/schemas/auth_utenti"}]},"scopo":{"description":"JSON dictionary representing the **auth_scopi** instance or FK when creating / updating / not populated","oneOf":[{"$ref":"#/components/schemas/auth_scopi"}]}}},"log":{"type":"object","allOf":[{"$ref":"#/components/schemas/log-without-required-constraint"},{"required":["level","message"]}]},"log-without-required-constraint":{"type":"object","description":"Sails ORM Model **Log**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"level":{"type":"string","enum":["info","warn","error","debug"]},"tag":{"type":"string"},"message":{"type":"string"},"action":{"type":"string"},"user":{"type":"string","nullable":true},"context":{},"ipAddress":{"type":"string","nullable":true}}},"log_formsubmission":{"type":"object","allOf":[{"$ref":"#/components/schemas/log_formsubmission-without-required-constraint"},{"required":["formId","submissionData"]}]},"log_formsubmission-without-required-constraint":{"type":"object","description":"Sails ORM Model **Log_FormSubmission**","properties":{"createdAt":{"type":"number","format":"double"},"updatedAt":{"type":"number","format":"double"},"id":{"type":"integer","format":"int64","uniqueItems":true,"description":"Note Sails special attributes: autoIncrement"},"formId":{"type":"string","description":"The unique identifier of the form (matches the JSON filename)","maxLength":100},"formTitle":{"type":"string","description":"The title of the form at the time of submission","maxLength":255},"submissionData":{"description":"JSON object containing all form field responses with key-value pairs"},"ipAddress":{"type":"string","description":"IP address of the submitter (supports IPv4 and IPv6)","maxLength":45},"userAgent":{"type":"string","description":"User agent string of the submitter","maxLength":500},"recaptchaScore":{"type":"number","format":"double","description":"reCAPTCHA v3 score (0.0 to 1.0) if enabled"},"submittedAt":{"type":"string","format":"date-time","description":"Timestamp of submission\n\nNote Sails special attributes: autoCreatedAt"}}}},"parameters":{"AttributeFilterParam":{"in":"query","name":"_*_","required":false,"schema":{"type":"string"},"description":"To filter results based on a particular attribute, specify a query parameter with the same name as the attribute defined on your model. For instance, if our `Purchase` model has an `amount` attribute, we could send `GET /purchase?amount=99.99` to return a list of $99.99 purchases."},"WhereQueryParam":{"in":"query","name":"where","required":false,"schema":{"type":"string"},"description":"Instead of filtering based on a specific attribute, you may instead choose to provide a `where` parameter with the WHERE piece of a [Waterline criteria](https://sailsjs.com/documentation/concepts/models-and-orm/query-language), _encoded as a JSON string_. This allows you to take advantage of `contains`, `startsWith`, and other sub-attribute criteria modifiers for more powerful `find()` queries.\n\ne.g. `?where={\"name\":{\"contains\":\"theodore\"}}`"},"LimitQueryParam":{"in":"query","name":"limit","required":false,"schema":{"type":"integer"},"description":"The maximum number of records to send back (useful for pagination). Defaults to 30."},"SkipQueryParam":{"in":"query","name":"skip","required":false,"schema":{"type":"integer"},"description":"The number of records to skip (useful for pagination)."},"SortQueryParam":{"in":"query","name":"sort","required":false,"schema":{"type":"string"},"description":"The sort order. By default, returned records are sorted by primary key value in ascending order.\n\ne.g. `?sort=lastName%20ASC`"}}},"security":[{"bearerAuth":[]}],"externalDocs":{"url":"https://www.asp.messina.it"},"tags":[{"name":"Anagrafica","description":"Gestione degli assistiti, ricerca e gestione"},{"name":"Cambio Medico","description":"Servizi per il cambio del medico"},{"name":"Auth","description":"Gestione autenticazione e autorizzazione. Include eventuale richiesta di autenticazione OTP"},{"name":"Info"}],"paths":{"/api/v1/login/get-token":{"post":{"summary":"GetToken","description":"Genera un token JWT per l'utente specificato con scopo e ambito specificati. L'utente deve essere abilitato ed avere il permesso sullo scopo e lo stesso ambito d'utenza","tags":["Auth"],"parameters":[{"in":"query","name":"login","required":true,"schema":{"type":"string"},"description":"Login utente"},{"in":"query","name":"password","required":true,"schema":{"type":"string"},"description":"Password utente"},{"in":"query","name":"scopi","required":true,"schema":{"type":"string"},"description":"Scopo del token, almeno uno obbligatorio, separati da spazi."},{"in":"query","name":"ambito","required":false,"schema":{"type":"string"},"description":"Ambito d'utenza del token. In caso di campo vuoto il valore di default è \"generale\""},{"in":"query","name":"otp","required":false,"schema":{"type":"string"},"description":"OTP di autenticazione"},{"in":"query","name":"domain","required":false,"schema":{"type":"string","minLength":3},"description":"Se valorizzato e valido, effettua il login con il dominio specificato."}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/login/verify-token":{"post":{"summary":"Verify token","description":"Verifica la validità di un token JWT e restituisce le informazioni contenute","tags":["Auth"],"parameters":[{"in":"query","name":"token","required":true,"schema":{"type":"string"},"description":"Token JWT da verificare"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/anagrafica/ricerca":{"post":{"summary":"Ricerca Assistito su database locale","description":"Ricerca assistito tramite parametri. Restituisce un array di assistiti ed altre informazioni.<br />Se la ricerca produce più di 100 risultati, verranno restituiti solo i primi 100.<br />E' necessario inserire almeno 5 caratteri del codice fiscale oppure 2 parametri a scelta tra nome, cognome e data di nascita (questi ultimi devono contenere almeno 3 caratteri, 4 per la data di nascita per garantire la ricerca per anno)<br />Se il codice fiscale risulta valido e non vengono trovati risultati, viene effettuata una ricerca nel sistema TS e lo aggiunge al database locale","tags":["Anagrafica"],"parameters":[{"in":"query","name":"codiceFiscale","required":false,"schema":{"type":"string","minLength":3},"description":"Il codice fiscale dell'assistito (minimo 3 caratteri, se i caratteri sono da 3 a 5 devono essere presenti almeno altri 2 parametri di ricerca)"},{"in":"query","name":"nome","required":false,"schema":{"type":"string","minLength":3},"description":"Il nome dell'assistito (o parte di esso, minimo 3 caratteri)"},{"in":"query","name":"cognome","required":false,"schema":{"type":"string","minLength":3},"description":"Il cognome dell'assistito (o parte di esso, minimo 3 caratteri)"},{"in":"query","name":"dataNascita","required":false,"schema":{"type":"string","minLength":4},"description":"La data di nascita dell'assistito (o l'anno di nascita)"},{"in":"query","name":"forzaAggiornamentoTs","required":false,"schema":{"type":"boolean"},"description":"Se selezionato e il codice fiscale è corretto, forza l'aggiornamento dei dati da TS"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/anagrafica/ricerca-massiva":{"post":{"summary":"Ricerca Assistito su database locale","description":"Ricerca assistito tramite parametri. Restituisce un array di assistiti ed altre informazioni.<br />Non ci sono limiti di dimensione di dati restituiti<br />","tags":["Anagrafica"],"parameters":[{"in":"query","name":"beforeLastUpdate","required":false,"schema":{"type":"number","format":"double"},"description":"Restituisce solo gli assistiti con max(updatedAt o lastCheck) inferiore a questo timestamp"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/anagrafica/nuovi-assistiti":{"post":{"summary":"Nuovi assistiti","description":"Crea uno (o più) assistiti nel sistema. E' richiesto livello di autorizzazione admin.","tags":["Anagrafica"],"parameters":[{"in":"query","name":"assistiti","required":true,"schema":{"type":"object","properties":{"array":{"example":[{"cf":"RSSMRA80A01H501V","cfNormalizzato":"RSSMRA80A01H501V","cognome":"Rossi","nome":"Mario","sesso":"M","dataNascita":315446400,"comuneNascita":"Roma","codComuneNascita":"H501","codIstatComuneNascita":"058091","provinciaNascita":"RM","indirizzoResidenza":"Via Roma 1","capResidenza":"00100","comuneResidenza":"Roma","codComuneResidenza":"H501","codIstatComuneResidenza":"058091","asp":"201","ssnTipoAssistito":"R","ssnInizioAssistenza":1577836800,"ssnFineAssistenza":1735689600,"ssnMotivazioneFineAssistenza":"Scadenza naturale","ssnNumeroTessera":"80123456","MMGUltimaOperazione":"SCELTA","MMGUltimoStato":"ATTIVO","MMGTipo":"MMG","MMGCodReg":"123456","MMGNome":"Giuseppe","MMGCognome":"Bianchi","MMGCf":"BNCGPP70B01H501X","MMGDataScelta":1577836800,"MMGDataRevoca":null,"dataDecesso":null},{"cf":"VRDLCU85M41H501Y","cfNormalizzato":"VRDLCU85M41H501Y","cognome":"Verdi","nome":"Lucia","sesso":"F","dataNascita":493344000,"comuneNascita":"Roma","codComuneNascita":"H501","codIstatComuneNascita":"058091","provinciaNascita":"RM","indirizzoResidenza":"Via Napoli 42","capResidenza":"00100","comuneResidenza":"Roma","codComuneResidenza":"H501","codIstatComuneResidenza":"058091","asp":"201","ssnTipoAssistito":"R","ssnInizioAssistenza":1609459200,"ssnFineAssistenza":1767225600,"ssnMotivazioneFineAssistenza":"Scadenza naturale","ssnNumeroTessera":"80789012","MMGUltimaOperazione":"SCELTA","MMGUltimoStato":"ATTIVO","MMGTipo":"MMG","MMGCodReg":"789012","MMGNome":"Maria","MMGCognome":"Neri","MMGCf":"NREMRA75C41H501Z","MMGDataScelta":1609459200,"MMGDataRevoca":null,"dataDecesso":null}],"type":"array","items":{"anyOf":[{"type":"object","properties":{"cf":{"example":"RSSMRA80A01H501V","type":"string"},"cfNormalizzato":{"example":"RSSMRA80A01H501V","type":"string"},"cognome":{"example":"Rossi","type":"string"},"nome":{"example":"Mario","type":"string"},"sesso":{"example":"M","type":"string"},"dataNascita":{"example":315446400,"type":"integer","format":"int64"},"comuneNascita":{"example":"Roma","type":"string"},"codComuneNascita":{"example":"H501","type":"string"},"codIstatComuneNascita":{"example":"058091","type":"string"},"provinciaNascita":{"example":"RM","type":"string"},"indirizzoResidenza":{"example":"Via Roma 1","type":"string"},"capResidenza":{"example":"00100","type":"string"},"comuneResidenza":{"example":"Roma","type":"string"},"codComuneResidenza":{"example":"H501","type":"string"},"codIstatComuneResidenza":{"example":"058091","type":"string"},"asp":{"example":"201","type":"string"},"ssnTipoAssistito":{"example":"R","type":"string"},"ssnInizioAssistenza":{"example":1577836800,"type":"integer","format":"int64"},"ssnFineAssistenza":{"example":1735689600,"type":"integer","format":"int64"},"ssnMotivazioneFineAssistenza":{"example":"Scadenza naturale","type":"string"},"ssnNumeroTessera":{"example":"80123456","type":"string"},"MMGUltimaOperazione":{"example":"SCELTA","type":"string"},"MMGUltimoStato":{"example":"ATTIVO","type":"string"},"MMGTipo":{"example":"MMG","type":"string"},"MMGCodReg":{"example":"123456","type":"string"},"MMGNome":{"example":"Giuseppe","type":"string"},"MMGCognome":{"example":"Bianchi","type":"string"},"MMGCf":{"example":"BNCGPP70B01H501X","type":"string"},"MMGDataScelta":{"example":1577836800,"type":"integer","format":"int64"},"MMGDataRevoca":{"example":null},"dataDecesso":{"example":null}}},{"type":"object","properties":{"cf":{"example":"VRDLCU85M41H501Y","type":"string"},"cfNormalizzato":{"example":"VRDLCU85M41H501Y","type":"string"},"cognome":{"example":"Verdi","type":"string"},"nome":{"example":"Lucia","type":"string"},"sesso":{"example":"F","type":"string"},"dataNascita":{"example":493344000,"type":"integer","format":"int64"},"comuneNascita":{"example":"Roma","type":"string"},"codComuneNascita":{"example":"H501","type":"string"},"codIstatComuneNascita":{"example":"058091","type":"string"},"provinciaNascita":{"example":"RM","type":"string"},"indirizzoResidenza":{"example":"Via Napoli 42","type":"string"},"capResidenza":{"example":"00100","type":"string"},"comuneResidenza":{"example":"Roma","type":"string"},"codComuneResidenza":{"example":"H501","type":"string"},"codIstatComuneResidenza":{"example":"058091","type":"string"},"asp":{"example":"201","type":"string"},"ssnTipoAssistito":{"example":"R","type":"string"},"ssnInizioAssistenza":{"example":1609459200,"type":"integer","format":"int64"},"ssnFineAssistenza":{"example":1767225600,"type":"integer","format":"int64"},"ssnMotivazioneFineAssistenza":{"example":"Scadenza naturale","type":"string"},"ssnNumeroTessera":{"example":"80789012","type":"string"},"MMGUltimaOperazione":{"example":"SCELTA","type":"string"},"MMGUltimoStato":{"example":"ATTIVO","type":"string"},"MMGTipo":{"example":"MMG","type":"string"},"MMGCodReg":{"example":"789012","type":"string"},"MMGNome":{"example":"Maria","type":"string"},"MMGCognome":{"example":"Neri","type":"string"},"MMGCf":{"example":"NREMRA75C41H501Z","type":"string"},"MMGDataScelta":{"example":1609459200,"type":"integer","format":"int64"},"MMGDataRevoca":{"example":null},"dataDecesso":{"example":null}}}]}}},"example":{"array":[{"cf":"RSSMRA80A01H501V","cfNormalizzato":"RSSMRA80A01H501V","cognome":"Rossi","nome":"Mario","sesso":"M","dataNascita":315446400,"comuneNascita":"Roma","codComuneNascita":"H501","codIstatComuneNascita":"058091","provinciaNascita":"RM","indirizzoResidenza":"Via Roma 1","capResidenza":"00100","comuneResidenza":"Roma","codComuneResidenza":"H501","codIstatComuneResidenza":"058091","asp":"201","ssnTipoAssistito":"R","ssnInizioAssistenza":1577836800,"ssnFineAssistenza":1735689600,"ssnMotivazioneFineAssistenza":"Scadenza naturale","ssnNumeroTessera":"80123456","MMGUltimaOperazione":"SCELTA","MMGUltimoStato":"ATTIVO","MMGTipo":"MMG","MMGCodReg":"123456","MMGNome":"Giuseppe","MMGCognome":"Bianchi","MMGCf":"BNCGPP70B01H501X","MMGDataScelta":1577836800,"MMGDataRevoca":null,"dataDecesso":null},{"cf":"VRDLCU85M41H501Y","cfNormalizzato":"VRDLCU85M41H501Y","cognome":"Verdi","nome":"Lucia","sesso":"F","dataNascita":493344000,"comuneNascita":"Roma","codComuneNascita":"H501","codIstatComuneNascita":"058091","provinciaNascita":"RM","indirizzoResidenza":"Via Napoli 42","capResidenza":"00100","comuneResidenza":"Roma","codComuneResidenza":"H501","codIstatComuneResidenza":"058091","asp":"201","ssnTipoAssistito":"R","ssnInizioAssistenza":1609459200,"ssnFineAssistenza":1767225600,"ssnMotivazioneFineAssistenza":"Scadenza naturale","ssnNumeroTessera":"80789012","MMGUltimaOperazione":"SCELTA","MMGUltimoStato":"ATTIVO","MMGTipo":"MMG","MMGCodReg":"789012","MMGNome":"Maria","MMGCognome":"Neri","MMGCf":"NREMRA75C41H501Z","MMGDataScelta":1609459200,"MMGDataRevoca":null,"dataDecesso":null}]}},"description":"Array di assistiti da inserire (omettere id, createdAt, updatedAt e md5), Max: 1000"},{"in":"query","name":"forzaAggiornamentoGeolocalizzazione","required":false,"schema":{"type":"boolean","default":false},"description":"Aggiorna la geolocalizzazione anche se già presente"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/anagrafica/get-geo-data":{"get":{"summary":"Assistiti in base ai dati geografici per comune di residenza","description":"Ottieni i dati geografici degli assistiti per comune di residenza","tags":["Anagrafica"],"parameters":[{"in":"query","name":"codComuneResidenza","required":false,"schema":{"type":"string"},"description":"Codice del comune di residenza"},{"in":"query","name":"onlyGeolocationPrecise","required":false,"schema":{"type":"boolean","default":false},"description":"Se true, ritorna solo i record con geolocazione precisa"},{"in":"query","name":"onlyGeoloc","required":false,"schema":{"type":"boolean","default":false},"description":"Se true, ritorna solo i record geolocalizzati"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/anagrafica/get-geo-data-job":{"get":{"summary":"Aggiorna in background i dati geografici per comune di residenza","description":"Aggiorna in background i dati geografici degli assistiti per comune di residenza","tags":["Anagrafica"],"parameters":[{"in":"query","name":"codComuneResidenza","required":true,"schema":{"type":"string"},"description":"Codice del comune di residenza"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/anagrafica/get-geo-data-job-status":{"get":{"summary":"Stato del job di geolocalizzazione","description":"Ottieni lo stato del job di geolocalizzazione","tags":["Anagrafica"],"parameters":[{"in":"query","name":"jobId","required":true,"schema":{"type":"string"},"description":"ID del job"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/anagrafica/get-geo-data-stats":{"post":{"summary":"Statistiche per comune di residenza","description":"Ottieni i dati geografici degli assistiti per comune di residenza, opzionalmente è possibile ottenere i dati per Quartiere (o circoscrizione) fornendo un json con una mappa cap <-> quartiere","tags":["Anagrafica"],"parameters":[{"in":"query","name":"codComuneResidenza","required":true,"schema":{"type":"string"},"description":"Codice del comune di residenza"},{"in":"query","name":"aspAssistenza","required":false,"schema":{"type":"string"},"description":"Se valorizzato, mostra solo gli assistiti assistiti nell'asp (opzionale)"},{"in":"query","name":"soloInVita","required":false,"schema":{"type":"boolean","default":true,"example":true},"description":"Se true, ritorna solo gli assistiti in vita"},{"in":"query","name":"divisioneInQuartieri","required":false,"schema":{"type":"boolean","default":false},"description":"Se true, ritorna la divisione in quartieri in base ai dati forniti"},{"in":"query","name":"preferisciCap","required":false,"schema":{"type":"boolean","default":true,"example":true},"description":"Se true, preferisci il cap per la ricerca del quartiere"},{"in":"query","name":"mostraIndirizziNonValidi","required":false,"schema":{"type":"boolean","default":false},"description":"Se true, mostra gli indirizzi non validi (per verifica)"},{"in":"query","name":"tipoMedico","required":true,"schema":{"type":"string","enum":["M","P","T"]},"description":"Tipo di medico, M = Medico di base, P = Pediatra, T = Tutti"},{"in":"query","name":"etaIniziale","required":false,"schema":{"type":"number","format":"double","example":14},"description":"Età iniziale per la ricerca (inclusa)"},{"in":"query","name":"etaFinale","required":false,"schema":{"type":"number","format":"double","example":65},"description":"Età finale per la ricerca"},{"in":"query","name":"jsonMap","required":false,"schema":{"type":"object","properties":{"jsonMap":{"example":{"cap":{"98121":{"lat":"38.207365358536585","long":"15.55313112926829","circoscrizione":"5"},"98122":{"lat":"38.18828453795181","long":"15.555627916265061","circoscrizione":"4"},"98123":{"lat":"38.18443621308226","long":"15.553023825123885","circoscrizione":"4"},"98124":{"lat":"38.174988171244635","long":"15.546306565665237","circoscrizione":"3"},"98125":{"lat":"38.16124343703704","long":"15.532582418518519","circoscrizione":"2"},"98126":{"lat":"38.15338773333333","long":"15.5160938","circoscrizione":"2"},"98127":{"lat":"38.17274164285714","long":"15.525965342857143","circoscrizione":"2"},"98128":{"lat":"38.1377291","long":"15.5242255","circoscrizione":"1"},"98129":{"lat":"38.1372405","long":"15.501302","circoscrizione":"1"},"98131":{"lat":"38.10845058666667","long":"15.510051097777778","circoscrizione":"1"},"98132":{"lat":"38.1205594","long":"15.5070861","circoscrizione":"1"},"98133":{"lat":"38.129673","long":"15.4574545","circoscrizione":"1"},"98134":{"lat":"38.11035843636364","long":"15.51100408181818","circoscrizione":"1"},"98135":{"lat":"38.12417886666667","long":"15.513203333333335","circoscrizione":"1"},"98136":{"lat":"38.099476","long":"15.4954635","circoscrizione":"1"},"98137":{"lat":"38.0964759","long":"15.4297895","circoscrizione":"1"},"98138":{"lat":"38.0830189","long":"15.4186781","circoscrizione":"1"},"98139":{"lat":"38.0828279","long":"15.4669154","circoscrizione":"1"},"98141":{"lat":"38.0626315","long":"15.4709168","circoscrizione":"1"},"98142":{"lat":"38.068391","long":"15.4506603","circoscrizione":"1"},"98143":{"lat":"38.0753614","long":"15.4224578","circoscrizione":"1"},"98144":{"lat":"38.1587149","long":"15.4713254","circoscrizione":"2"},"98145":{"lat":"38.1818619","long":"15.5283066","circoscrizione":"3"},"98146":{"lat":"38.17558","long":"15.4914322","circoscrizione":"3"},"98147":{"lat":"38.17080563553299","long":"15.527890017766497","circoscrizione":"3"},"98148":{"lat":"38.17428556857143","long":"15.528075794285714","circoscrizione":"3"},"98149":{"lat":"38.1861594","long":"15.5331524","circoscrizione":"3"},"98151":{"lat":"38.1900944","long":"15.4996093","circoscrizione":"3"},"98152":{"lat":"38.2175104","long":"15.5004589","circoscrizione":"4"},"98153":{"lat":"38.2364187","long":"15.467781","circoscrizione":"6"},"98154":{"lat":"38.2398459","long":"15.4964843","circoscrizione":"6"},"98155":{"lat":"38.2633098","long":"15.521498","circoscrizione":"6"},"98156":{"lat":"38.2740091","long":"15.5345906","circoscrizione":"6"},"98157":{"lat":"38.2721171","long":"15.5543514","circoscrizione":"6"},"98158":{"lat":"38.26275231428571","long":"15.58337182857143","circoscrizione":"6"},"98161":{"lat":"38.2585538","long":"15.4513609","circoscrizione":"6"},"98162":{"lat":"38.28568425","long":"15.5025915","circoscrizione":"6"},"98163":{"lat":"38.2871092","long":"15.56221615","circoscrizione":"6"},"98164":{"lat":"38.26403274","long":"15.6363112","circoscrizione":"6"},"98165":{"lat":"38.2643444","long":"15.60873945","circoscrizione":"6"},"98166":{"lat":"38.2540341","long":"15.59930385","circoscrizione":"6"},"98167":{"lat":"38.2461153","long":"15.5818379","circoscrizione":"6"},"98168":{"lat":"38.2297134","long":"15.5298319","circoscrizione":"5"}},"custom":{"faro sup":{"lat":"38.2657224","long":"15.5761963","circoscrizione":"6"},"larderia":{"lat":"38.1405216","long":"15.48979","circoscrizione":"1"},"scaletta":{"lat":"38.0514773","long":"15.4471566","circoscrizione":"1"}}},"type":"object","properties":{"cap":{"example":{"98121":{"lat":"38.207365358536585","long":"15.55313112926829","circoscrizione":"5"},"98122":{"lat":"38.18828453795181","long":"15.555627916265061","circoscrizione":"4"},"98123":{"lat":"38.18443621308226","long":"15.553023825123885","circoscrizione":"4"},"98124":{"lat":"38.174988171244635","long":"15.546306565665237","circoscrizione":"3"},"98125":{"lat":"38.16124343703704","long":"15.532582418518519","circoscrizione":"2"},"98126":{"lat":"38.15338773333333","long":"15.5160938","circoscrizione":"2"},"98127":{"lat":"38.17274164285714","long":"15.525965342857143","circoscrizione":"2"},"98128":{"lat":"38.1377291","long":"15.5242255","circoscrizione":"1"},"98129":{"lat":"38.1372405","long":"15.501302","circoscrizione":"1"},"98131":{"lat":"38.10845058666667","long":"15.510051097777778","circoscrizione":"1"},"98132":{"lat":"38.1205594","long":"15.5070861","circoscrizione":"1"},"98133":{"lat":"38.129673","long":"15.4574545","circoscrizione":"1"},"98134":{"lat":"38.11035843636364","long":"15.51100408181818","circoscrizione":"1"},"98135":{"lat":"38.12417886666667","long":"15.513203333333335","circoscrizione":"1"},"98136":{"lat":"38.099476","long":"15.4954635","circoscrizione":"1"},"98137":{"lat":"38.0964759","long":"15.4297895","circoscrizione":"1"},"98138":{"lat":"38.0830189","long":"15.4186781","circoscrizione":"1"},"98139":{"lat":"38.0828279","long":"15.4669154","circoscrizione":"1"},"98141":{"lat":"38.0626315","long":"15.4709168","circoscrizione":"1"},"98142":{"lat":"38.068391","long":"15.4506603","circoscrizione":"1"},"98143":{"lat":"38.0753614","long":"15.4224578","circoscrizione":"1"},"98144":{"lat":"38.1587149","long":"15.4713254","circoscrizione":"2"},"98145":{"lat":"38.1818619","long":"15.5283066","circoscrizione":"3"},"98146":{"lat":"38.17558","long":"15.4914322","circoscrizione":"3"},"98147":{"lat":"38.17080563553299","long":"15.527890017766497","circoscrizione":"3"},"98148":{"lat":"38.17428556857143","long":"15.528075794285714","circoscrizione":"3"},"98149":{"lat":"38.1861594","long":"15.5331524","circoscrizione":"3"},"98151":{"lat":"38.1900944","long":"15.4996093","circoscrizione":"3"},"98152":{"lat":"38.2175104","long":"15.5004589","circoscrizione":"4"},"98153":{"lat":"38.2364187","long":"15.467781","circoscrizione":"6"},"98154":{"lat":"38.2398459","long":"15.4964843","circoscrizione":"6"},"98155":{"lat":"38.2633098","long":"15.521498","circoscrizione":"6"},"98156":{"lat":"38.2740091","long":"15.5345906","circoscrizione":"6"},"98157":{"lat":"38.2721171","long":"15.5543514","circoscrizione":"6"},"98158":{"lat":"38.26275231428571","long":"15.58337182857143","circoscrizione":"6"},"98161":{"lat":"38.2585538","long":"15.4513609","circoscrizione":"6"},"98162":{"lat":"38.28568425","long":"15.5025915","circoscrizione":"6"},"98163":{"lat":"38.2871092","long":"15.56221615","circoscrizione":"6"},"98164":{"lat":"38.26403274","long":"15.6363112","circoscrizione":"6"},"98165":{"lat":"38.2643444","long":"15.60873945","circoscrizione":"6"},"98166":{"lat":"38.2540341","long":"15.59930385","circoscrizione":"6"},"98167":{"lat":"38.2461153","long":"15.5818379","circoscrizione":"6"},"98168":{"lat":"38.2297134","long":"15.5298319","circoscrizione":"5"}},"type":"object","properties":{"98121":{"example":{"lat":"38.207365358536585","long":"15.55313112926829","circoscrizione":"5"}},"98122":{"example":{"lat":"38.18828453795181","long":"15.555627916265061","circoscrizione":"4"}},"98123":{"example":{"lat":"38.18443621308226","long":"15.553023825123885","circoscrizione":"4"}},"98124":{"example":{"lat":"38.174988171244635","long":"15.546306565665237","circoscrizione":"3"}},"98125":{"example":{"lat":"38.16124343703704","long":"15.532582418518519","circoscrizione":"2"}},"98126":{"example":{"lat":"38.15338773333333","long":"15.5160938","circoscrizione":"2"}},"98127":{"example":{"lat":"38.17274164285714","long":"15.525965342857143","circoscrizione":"2"}},"98128":{"example":{"lat":"38.1377291","long":"15.5242255","circoscrizione":"1"}},"98129":{"example":{"lat":"38.1372405","long":"15.501302","circoscrizione":"1"}},"98131":{"example":{"lat":"38.10845058666667","long":"15.510051097777778","circoscrizione":"1"}},"98132":{"example":{"lat":"38.1205594","long":"15.5070861","circoscrizione":"1"}},"98133":{"example":{"lat":"38.129673","long":"15.4574545","circoscrizione":"1"}},"98134":{"example":{"lat":"38.11035843636364","long":"15.51100408181818","circoscrizione":"1"}},"98135":{"example":{"lat":"38.12417886666667","long":"15.513203333333335","circoscrizione":"1"}},"98136":{"example":{"lat":"38.099476","long":"15.4954635","circoscrizione":"1"}},"98137":{"example":{"lat":"38.0964759","long":"15.4297895","circoscrizione":"1"}},"98138":{"example":{"lat":"38.0830189","long":"15.4186781","circoscrizione":"1"}},"98139":{"example":{"lat":"38.0828279","long":"15.4669154","circoscrizione":"1"}},"98141":{"example":{"lat":"38.0626315","long":"15.4709168","circoscrizione":"1"}},"98142":{"example":{"lat":"38.068391","long":"15.4506603","circoscrizione":"1"}},"98143":{"example":{"lat":"38.0753614","long":"15.4224578","circoscrizione":"1"}},"98144":{"example":{"lat":"38.1587149","long":"15.4713254","circoscrizione":"2"}},"98145":{"example":{"lat":"38.1818619","long":"15.5283066","circoscrizione":"3"}},"98146":{"example":{"lat":"38.17558","long":"15.4914322","circoscrizione":"3"}},"98147":{"example":{"lat":"38.17080563553299","long":"15.527890017766497","circoscrizione":"3"}},"98148":{"example":{"lat":"38.17428556857143","long":"15.528075794285714","circoscrizione":"3"}},"98149":{"example":{"lat":"38.1861594","long":"15.5331524","circoscrizione":"3"}},"98151":{"example":{"lat":"38.1900944","long":"15.4996093","circoscrizione":"3"}},"98152":{"example":{"lat":"38.2175104","long":"15.5004589","circoscrizione":"4"}},"98153":{"example":{"lat":"38.2364187","long":"15.467781","circoscrizione":"6"}},"98154":{"example":{"lat":"38.2398459","long":"15.4964843","circoscrizione":"6"}},"98155":{"example":{"lat":"38.2633098","long":"15.521498","circoscrizione":"6"}},"98156":{"example":{"lat":"38.2740091","long":"15.5345906","circoscrizione":"6"}},"98157":{"example":{"lat":"38.2721171","long":"15.5543514","circoscrizione":"6"}},"98158":{"example":{"lat":"38.26275231428571","long":"15.58337182857143","circoscrizione":"6"}},"98161":{"example":{"lat":"38.2585538","long":"15.4513609","circoscrizione":"6"}},"98162":{"example":{"lat":"38.28568425","long":"15.5025915","circoscrizione":"6"}},"98163":{"example":{"lat":"38.2871092","long":"15.56221615","circoscrizione":"6"}},"98164":{"example":{"lat":"38.26403274","long":"15.6363112","circoscrizione":"6"}},"98165":{"example":{"lat":"38.2643444","long":"15.60873945","circoscrizione":"6"}},"98166":{"example":{"lat":"38.2540341","long":"15.59930385","circoscrizione":"6"}},"98167":{"example":{"lat":"38.2461153","long":"15.5818379","circoscrizione":"6"}},"98168":{"example":{"lat":"38.2297134","long":"15.5298319","circoscrizione":"5"}}}},"custom":{"example":{"faro sup":{"lat":"38.2657224","long":"15.5761963","circoscrizione":"6"},"larderia":{"lat":"38.1405216","long":"15.48979","circoscrizione":"1"},"scaletta":{"lat":"38.0514773","long":"15.4471566","circoscrizione":"1"}},"type":"object","properties":{"faro sup":{"example":{"lat":"38.2657224","long":"15.5761963","circoscrizione":"6"}},"larderia":{"example":{"lat":"38.1405216","long":"15.48979","circoscrizione":"1"}},"scaletta":{"example":{"lat":"38.0514773","long":"15.4471566","circoscrizione":"1"}}}}}}},"example":{"jsonMap":{"cap":{"98121":{"lat":"38.207365358536585","long":"15.55313112926829","circoscrizione":"5"},"98122":{"lat":"38.18828453795181","long":"15.555627916265061","circoscrizione":"4"},"98123":{"lat":"38.18443621308226","long":"15.553023825123885","circoscrizione":"4"},"98124":{"lat":"38.174988171244635","long":"15.546306565665237","circoscrizione":"3"},"98125":{"lat":"38.16124343703704","long":"15.532582418518519","circoscrizione":"2"},"98126":{"lat":"38.15338773333333","long":"15.5160938","circoscrizione":"2"},"98127":{"lat":"38.17274164285714","long":"15.525965342857143","circoscrizione":"2"},"98128":{"lat":"38.1377291","long":"15.5242255","circoscrizione":"1"},"98129":{"lat":"38.1372405","long":"15.501302","circoscrizione":"1"},"98131":{"lat":"38.10845058666667","long":"15.510051097777778","circoscrizione":"1"},"98132":{"lat":"38.1205594","long":"15.5070861","circoscrizione":"1"},"98133":{"lat":"38.129673","long":"15.4574545","circoscrizione":"1"},"98134":{"lat":"38.11035843636364","long":"15.51100408181818","circoscrizione":"1"},"98135":{"lat":"38.12417886666667","long":"15.513203333333335","circoscrizione":"1"},"98136":{"lat":"38.099476","long":"15.4954635","circoscrizione":"1"},"98137":{"lat":"38.0964759","long":"15.4297895","circoscrizione":"1"},"98138":{"lat":"38.0830189","long":"15.4186781","circoscrizione":"1"},"98139":{"lat":"38.0828279","long":"15.4669154","circoscrizione":"1"},"98141":{"lat":"38.0626315","long":"15.4709168","circoscrizione":"1"},"98142":{"lat":"38.068391","long":"15.4506603","circoscrizione":"1"},"98143":{"lat":"38.0753614","long":"15.4224578","circoscrizione":"1"},"98144":{"lat":"38.1587149","long":"15.4713254","circoscrizione":"2"},"98145":{"lat":"38.1818619","long":"15.5283066","circoscrizione":"3"},"98146":{"lat":"38.17558","long":"15.4914322","circoscrizione":"3"},"98147":{"lat":"38.17080563553299","long":"15.527890017766497","circoscrizione":"3"},"98148":{"lat":"38.17428556857143","long":"15.528075794285714","circoscrizione":"3"},"98149":{"lat":"38.1861594","long":"15.5331524","circoscrizione":"3"},"98151":{"lat":"38.1900944","long":"15.4996093","circoscrizione":"3"},"98152":{"lat":"38.2175104","long":"15.5004589","circoscrizione":"4"},"98153":{"lat":"38.2364187","long":"15.467781","circoscrizione":"6"},"98154":{"lat":"38.2398459","long":"15.4964843","circoscrizione":"6"},"98155":{"lat":"38.2633098","long":"15.521498","circoscrizione":"6"},"98156":{"lat":"38.2740091","long":"15.5345906","circoscrizione":"6"},"98157":{"lat":"38.2721171","long":"15.5543514","circoscrizione":"6"},"98158":{"lat":"38.26275231428571","long":"15.58337182857143","circoscrizione":"6"},"98161":{"lat":"38.2585538","long":"15.4513609","circoscrizione":"6"},"98162":{"lat":"38.28568425","long":"15.5025915","circoscrizione":"6"},"98163":{"lat":"38.2871092","long":"15.56221615","circoscrizione":"6"},"98164":{"lat":"38.26403274","long":"15.6363112","circoscrizione":"6"},"98165":{"lat":"38.2643444","long":"15.60873945","circoscrizione":"6"},"98166":{"lat":"38.2540341","long":"15.59930385","circoscrizione":"6"},"98167":{"lat":"38.2461153","long":"15.5818379","circoscrizione":"6"},"98168":{"lat":"38.2297134","long":"15.5298319","circoscrizione":"5"}},"custom":{"faro sup":{"lat":"38.2657224","long":"15.5761963","circoscrizione":"6"},"larderia":{"lat":"38.1405216","long":"15.48979","circoscrizione":"1"},"scaletta":{"lat":"38.0514773","long":"15.4471566","circoscrizione":"1"}}}}},"description":"Json con la mappa cap <-> quartiere (opzionale)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/cambio-medico/get-medici":{"post":{"summary":"Get medici","description":"Recupera l'elenco dei medici da NAR2 filtrando per tipologia (MMG o PLS).","tags":["Cambio Medico"],"parameters":[{"in":"query","name":"tipoMedico","required":true,"schema":{"type":"string","enum":["TUTTI","MMG","PLS"]},"description":"Tipo di medico (MMG o PLS o entrambi)"},{"in":"query","name":"soloAttivi","required":false,"schema":{"type":"boolean","default":true,"example":true},"description":"Se true, restituisce solo i medici attivi"},{"in":"query","name":"nascondiCessati","required":false,"schema":{"type":"boolean","default":true,"example":true},"description":"Se true, esclude i medici cessati"},{"in":"query","name":"addSituazioneMedico","required":false,"schema":{"type":"boolean","default":true,"example":true},"description":"Se true, aggiunge la situazione del medico (dettaglio carico, assistiti, deroghe)"},{"in":"query","name":"forceRefresh","required":false,"schema":{"type":"boolean","default":false},"description":"Se true, forza il refresh dei dati da NAR2 ignorando la cache. La cache ha una scadenza automatica di 2 ore"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/cambio-medico/get-medici-disponibili-assistito":{"post":{"summary":"Get medici disponibili assistito","description":"Ottiene la lista dei medici disponibili per un assistito specifico.","tags":["Cambio Medico"],"parameters":[{"in":"query","name":"cfAssistito","required":true,"schema":{"type":"string"},"description":"Codice fiscale dell'assistito"},{"in":"query","name":"tipoMedico","required":true,"schema":{"type":"string","enum":["P","M"]},"description":"Tipo di medico: \"M\" per medico di base, \"P\" per pediatra"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/cambio-medico/get-situazioni-assistenziali-assistito":{"post":{"summary":"Get situazioni assistenziali per assistito","description":"Ottieni le situazioni assistenziali per un assistito specifico","tags":["Cambio Medico"],"parameters":[{"in":"query","name":"codiceFiscale","required":true,"schema":{"type":"string"},"description":"Codice Fiscale dell'assistito"},{"in":"query","name":"includeFullData","required":false,"schema":{"type":"boolean","default":false},"description":"Se true, include dati completi nelle situazioni assistenziali"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/cambio-medico/get-ambito-domicilio-assistito":{"post":{"summary":"Get ambito domicilio assistito","description":"Ottieni l'ambito del domicilio dell'assistito dato il suo codice fiscale.","tags":["Cambio Medico"],"parameters":[{"in":"query","name":"codiceFiscale","required":true,"schema":{"type":"string"},"description":"Il codice fiscale dell'assistito"},{"in":"query","name":"situazioneAssistenziale","required":false,"schema":{"type":"string","default":"4","example":"4"},"description":"La situazione assistenziale dell'assistito, default 4 (domiciliato e residente in regione)"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/cambio-medico/get-situazione-medico":{"post":{"summary":"Get Situazione medico","description":"Ottieni la situazione di un medico specifico","tags":["Cambio Medico"],"parameters":[{"in":"query","name":"pf_id","required":true,"schema":{"type":"number","format":"double"},"description":"pfID del medico"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}},"/api/v1/stats/info":{"get":{"summary":"Statistiche Anagrafica","description":"Ottieni le statistiche di Anagrafica","tags":["Info"],"parameters":[],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":true},"err":{"type":"null","example":null},"data":{"type":"object","example":{"chiave":"valore","chiave2":"valore2"}}}}}}},"300":{"description":"Richieste multiple","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"MULTIPLE_RESULTS"},"responses":[{"type":"array","example":"Array di response"}]}},"data":{"type":"null","example":null}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"BAD_REQUEST"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"401":{"description":"Non autorizzato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NON_AUTORIZZATO | TOKEN_SCADUTO | TOKEN_NON_VALIDO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"404":{"description":"Non trovato","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"NOT_FOUND"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"409":{"description":"Dato in conflitto con un dato già presente","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ALREADY_EXISTS"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"500":{"description":"Errore del server","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"ERRORE_DEL_SERVER || ERRORE_GENERICO"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"503":{"description":"Servizio momentaneamente non disponibile","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"SERVIZIO_NON_DISPONIBILE"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}},"504":{"description":"Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean","example":false},"err":{"type":"object","properties":{"code":{"type":"string","example":"TIMEOUT"},"msg":{"type":"string","example":"Messaggio di errore"}}},"data":{"type":"null","example":null}}}}}}}}}}}